language: ruby
gemfile:
  - gemfiles/Gemfile32.ci
  - gemfiles/Gemfile40.ci
  - gemfiles/Gemfile41.ci
install: bundle install -j4 --path vendor/bundle
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.1
env:
  - 'COVERALLS_NOISY=1 COVERALLS_DEBUG=1
